---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "配属希望者へ";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-5">
    <div>
      <h1 class="font-bold text-xl pl-2 border-b-2 border-l-8 border-solid border-black mb-3">
        大学院での配属希望者へ
      </h1>
      <p class="mx-5">
        事前に飯間（iima_123_@kit.ac.jp：「_123_」は削除してください）まで、電子メールでご連絡ください。
        問合せのみでも結構ですので、気軽に電子メールを送ってください。
      </p>
    </div>
    <div>
      <h1 class="font-bold text-xl pl-2 border-b-2 border-l-8 border-solid border-black mb-3">
        卒業研究での配属希望者へ
      </h1>
      <div class="mx-5">
        <p>
          何か問い合わせたいことがあれば、電子メールを送ったり、直接居室に来たりして、飯間に問い合わせてください。
        </p>
        <p>
          授業と<a class="text-blue-600" href="/work">研究内容</a>との関係を簡単に説明しておきます。
          計算知能最適化は「システム最適化」で少し勉強しています。「システム論」でも最適化を勉強しましたが、これは計算知能最適化ではありません。
          機械学習については「AI・データサイエンス基礎」と「AI・データサイエンス応用」で勉強していると思います。
          機械学習で用いられる最適化については「システム最適化」で少し勉強しています。
          ただし多くの場合、授業で学んだものとは異なる新しいことを研究していくこととなります。
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
