---

---

<footer class="bg-blue-700 text-white w-full mt-5">
  <p class="px-3 py-2 text-center">
    Copyright &copy; Laboratory for Computational Intelligence and Systems All Rights Reserved.
  </p>
</footer>
