---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import NewsList from "./news/components/NewsList.astro";
import Carousel from "./index/components/Carousel.astro";
const allNews = await getCollection("news");

const latestNews = allNews
  .sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
  })
  .slice(0, 10);
---

<BaseLayout pageTitle="トップページ">
  <div class="container mx-auto px-4">
    <p class="mb-5 sm:text-lg">
      京都工芸繊維大学 情報工学 情報知能システム研究室のウェブサイトです。<br />
      知能システム、特に人工知能の最先端である「計算知能」と「機械学習」を研究しています。
    </p>

    <Carousel />

    <h1 class="font-semibold text-xl pl-2 border-b-2 border-l-8 border-solid border-black mb-3">
      NEWS
    </h1>

    <NewsList news={latestNews} />

    <div class="text-center mt-8">
      <a
        href="/news/1"
        class="inline-block px-6 py-2 bg-gray-700 text-white rounded hover:bg-gray-500 transition-colors"
      >
        もっとみる
      </a>
    </div>
  </div>
</BaseLayout>
