---
import { Icon } from "astro-icon/components";
import AchievementFilterModal from "./AchievementFilterModal.astro";

const { allTags } = Astro.props;
---

<div class="w-full flex justify-end">
  <a
    href="#AchievementFilterModal"
    class="border border-gray-300 rounded-lg px-3 py-1 flex items-center gap-2 hover:bg-gray-100 w-fit"
  >
    <p class="text-sm">Filter</p>
    <Icon name="material-symbols:filter-list-rounded" class="size-4" />
  </a>
  <AchievementFilterModal allTags={allTags} />
</div>
