---
import TagPill from "./TagPill.astro";

interface Props {
  allTags: { name: string; count: number }[];
  query: string[];
}

const { allTags, query } = Astro.props;
---

<!-- Close filter modal toggle -->
<input type="checkbox" id="filterToggle" class="hidden" />

<div id="filterModal" class="relative w-2/5 sm:w-1/2 overflow-hidden">
  <div class="bg-white p-3 rounded-lg shadow-lg w-full mx-auto relative">
    <!-- Top-right close -->
    <label
      for="filterToggle"
      class="absolute top-3 right-5 text-gray-500 hover:text-gray-900 cursor-pointer text-lg"
    >
      &times;
    </label>

    <!-- Modal content -->
    <form method="GET" class="flex flex-col gap-4 w-full">
      <!-- Setting page number in query parameter to 1-->
      <input type="hidden" name="page" value="1" />
      <div class="flex flex-col gap-4 p-3 w-auto min-w-auto">
        <p class="text-xl font-bold w-full">フィルター</p>

        <div class="flex flex-wrap gap-2 h-60 overflow-auto">
          {
            allTags.map((tag) => (
              <TagPill name={tag.name} count={tag.count} selected={query.includes(tag.name)} />
            ))
          }
        </div>
        <!-- Footer buttons -->
        <div class="flex flex-row justify-end gap-2">
          <a href="/achievements/?page=1" class="border border-gray-300 rounded-lg px-4 py-1"
            >リセット</a
          >
          <button type="submit" class="bg-sky-700 text-white px-4 py-1 rounded-lg"> 保存 </button>
        </div>
      </div>
    </form>
  </div>
</div>
