---

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Copyright &copy; Laboratory for Computational Intelligence and Systems All
    Rights Reserved.
  </p>
</footer>
