---

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <small
      >Copyright © Laboratory for Computational Intelligence and Systems All
      Rights Reserved.
    </small>
  </p>
</footer>
