---
import HeroImage from "../components/HeroImage.astro";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header class="mb-5">
  <nav class="flex flex-col gap-4">
    <Hamburger />
    <HeroImage />
    <Navigation />
  </nav>
</header>
