---
import { Icon } from "astro-icon/components";
---

<div class="nav-links">
  <a href="/">TOP</a>
  <a href="/work">研究内容</a>
  <a href="/case">研究事例</a>
  <a href="/assign">配属希望者へ</a>
  <a href="/inquiry">問い合わせ</a>
</div>
