---
import { Icon } from "astro-icon/components";
---

<div class="nav-links">
  <a href="/">
    <Icon name="material-symbols:garage-home-outline" size={20} is:inline />
    ホーム
  </a>
  <a href="/research_content/">研究内容</a>
  <a href="/research_case/">研究事例</a>
  <a href="/applicant/">配属希望者へ</a>
  <a href="/inquiry/">問い合わせ</a>
</div>
