---
import { Icon } from "astro-icon/components";
import clsx from "clsx";
import type { NavLink } from "./Navigation.astro";

interface Props {
  navLinks: NavLink[];
}

const { navLinks }: Props = Astro.props;

const currentPath = Astro.url.pathname;
---

<div
  id="nav-drawer"
  class="invisible fixed top-0 right-0 h-full w-2/3 max-w-xs bg-white z-50 transform translate-x-full transition-transform duration-300 flex flex-col p-4"
>
  <Icon
    id="nav-drawer-close-button"
    name="material-symbols:close"
    class="text-2xl self-end"
  />
  <div class="w-full flex flex-col items-start gap-2 mt-8">
    {
      navLinks.map((link) => (
        <a
          href={link.href}
          class={clsx(
            "text-base font-semibold w-full text-left px-4 py-2 rounded-lg transition flex items-center gap-2",
            currentPath === link.href
              ? "bg-blue-600 text-white"
              : "text-gray-800 hover:bg-blue-100 hover:text-blue-700",
          )}
        >
          <Icon name={link.icon} class="text-2xl" />
          {link.label}
        </a>
      ))
    }
  </div>
</div>
