---
import NavigationBar from "./NavigationBar.astro";
import NavigationDrawer from "./NavigationDrawer.astro";

interface Props {
  pageTitle: string;
}

export interface NavLink {
  href: string;
  label: string;
  icon: string;
}

const { pageTitle } = Astro.props;

const navLinks = [
  { href: "/", label: "TOP", icon: "material-symbols:home" },
  { href: "/work", label: "研究内容", icon: "material-symbols:ink-pen" },
  { href: "/case", label: "研究事例", icon: "material-symbols:experiment" },
  {
    href: "/assign",
    label: "配属希望者へ",
    icon: "material-symbols:person-raised-hand",
  },
  { href: "/inquiry", label: "問い合わせ", icon: "material-symbols:mail" },
];
---

<div id="nav-overlay" class="invisible opacity-0 fixed inset-0 bg-black/50 z-40"></div>
<NavigationDrawer navLinks={navLinks} />
<NavigationBar navLinks={navLinks} pageTitle={pageTitle} />
