---
import type { NavLink } from "./Navigation.astro";
import PageLinksBar from "./PageLinksBar.astro";
import PageTitleBar from "./PageTitleBar.astro";

interface Props {
  navLinks: NavLink[];
  pageTitle: string;
}

const { navLinks, pageTitle } = Astro.props;
---

<div class="bg-blue-700">
  <div class="hidden md:block max-w-5xl mx-auto">
    <PageLinksBar navLinks={navLinks} />
  </div>

  <div class="md:hidden max-w-5xl mx-auto px-3">
    <PageTitleBar pageTitle={pageTitle} />
  </div>
</div>
